<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Youyu Account Statement</title>

    <!-- 装入静态文件目录-->
    {% load static %}

    <!-- 装入网站图标 -->
    <link rel="shortcut icon" type="image/jpg" href="{% static 'img/favicon.jpg' %}"/>

    <!-- CDN方式 引入 Bootstrap 的 CSS 文件 -->
    <!-- 注意：生产环境下，建议使用本地静态文件引入方式 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    -->

    <!-- 用静态文件方式 引入Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- 引入sweetalert2样式  最新版本的sweetalert2需要样式文件，这里使用是sweetalert2 v11.10.4 版本 ，所以注释掉样式文件-->
    {% comment %} <link href="{% static 'css/sweetalert2.min.css' %}" rel="stylesheet" /> {% endcomment %}

    <!-- 引入sweetalert2 js文件 -->
    <script src="{% static 'js/sweetalert2.min.js' %}"></script>

    
    <!-- 引入 ECharts 文件 -->
    {% comment %} <!-- 注意：生产环境下，建议使用本地静态文件引入方式 ,下面第一行代码是cdn方式引入echarts,第二行代码是本地静态文件引入echarts -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.5.1/dist/echarts.min.js"></script> {% endcomment %}

    <script src="{% static 'js/echarts.js' %}"></script>


    <!-- 定义CSS样式块 -->
    {% block css %}{% endblock %}


</head>

<body>
    <!-- 导航栏开始 -->
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Visual Mood</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        {% comment %} <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search" /> {% endcomment %}
        <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="{% url 'logout' %}">退出</a>
        </li>
        </ul>
    </nav>
    <!-- 导航栏结束 -->


    <div class="container-fluid">
        <div class="row">
            <!-- 侧边栏开始 -->
            {% include 'components/sidebar.html' %}
            <!-- 侧边栏结束 -->

            <!-- 数据展示区域开始 --> 
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

                <!-- 表单数据展示开始 -->
                {% block content %}
                    <h2>数据演示区</h2>
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                <th>#</th>
                                <th>Header</th>
                                <th>Header</th>
                                <th>Header</th>
                                <th>Header</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <td>1,001</td>
                                <td>random</td>
                                <td>data</td>
                                <td>placeholder</td>
                                <td>text</td>
                                </tr>
                                <tr>
                                <td>1,002</td>
                                <td>placeholder</td>
                                <td>irrelevant</td>
                                <td>visual</td>
                                <td>layout</td>
                                </tr>
                                <tr>
                                <td>1,003</td>
                                <td>data</td>
                                <td>rich</td>
                                <td>dashboard</td>
                                <td>tabular</td>
                                </tr>
                                <tr>
                                <td>1,003</td>
                                <td>information</td>
                                <td>placeholder</td>
                                <td>illustrative</td>
                                <td>data</td>
                                </tr>
                                <tr>
                                <td>1,004</td>
                                <td>text</td>
                                <td>random</td>
                                <td>layout</td>
                                <td>dashboard</td>
                                </tr>
                                <tr>
                                <td>1,005</td>
                                <td>dashboard</td>
                                <td>irrelevant</td>
                                <td>text</td>
                                <td>placeholder</td>
                                </tr>
                                <tr>
                                <td>1,006</td>
                                <td>dashboard</td>
                                <td>illustrative</td>
                                <td>rich</td>
                                <td>data</td>
                                </tr>
                                <tr>
                                <td>1,007</td>
                                <td>placeholder</td>
                                <td>tabular</td>
                                <td>information</td>
                                <td>irrelevant</td>
                                </tr>
                                <tr>
                                <td>1,008</td>
                                <td>random</td>
                                <td>data</td>
                                <td>placeholder</td>
                                <td>text</td>
                                </tr>
                                <tr>
                                <td>1,009</td>
                                <td>placeholder</td>
                                <td>irrelevant</td>
                                <td>visual</td>
                                <td>layout</td>
                                </tr>
                                <tr>
                                <td>1,010</td>
                                <td>data</td>
                                <td>rich</td>
                                <td>dashboard</td>
                                <td>tabular</td>
                                </tr>
                                <tr>
                                <td>1,011</td>
                                <td>information</td>
                                <td>placeholder</td>
                                <td>illustrative</td>
                                <td>data</td>
                                </tr>
                                <tr>
                                <td>1,012</td>
                                <td>text</td>
                                <td>placeholder</td>
                                <td>layout</td>
                                <td>dashboard</td>
                                </tr>
                                <tr>
                                <td>1,013</td>
                                <td>dashboard</td>
                                <td>irrelevant</td>
                                <td>text</td>
                                <td>visual</td>
                                </tr>
                                <tr>
                                <td>1,014</td>
                                <td>dashboard</td>
                                <td>illustrative</td>
                                <td>rich</td>
                                <td>data</td>
                                </tr>
                                <tr>
                                <td>1,015</td>
                                <td>random</td>
                                <td>tabular</td>
                                <td>information</td>
                                <td>text</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {% endblock %}
                <!-- 表单数据展示结束 -->

            </main>
            <!-- 数据展示区域结束 -->
            
        </div>
    </div>


    <!--CDN方式 引入 Bootstrap core JavaScript fgh 下面二个选项二选一即可 -->    
    <!-- 选项 1：jQuery 和 Bootstrap 集成包（集成了 Popper） -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-7ymO4nGrkm372HoSbq1OY2DP4pEZnMiA+E0F3zPr+JQQtQ82gQ1HPY3QIVtztVua" crossorigin="anonymous"></script>
    -->

    <!-- 选项 2：Popper 和 Bootstrap 的 JS 插件各自独立，分开加载 -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-Lge2E2XotzMiwH69/MXB72yLpwyENMiOKX8zS8Qo7LDCvaBIWGL+GlRQEKIpYR04" crossorigin="anonymous"></script>
    -->
    <!--引入Bootstrap core JavaScript结束 -->


    <!-- 按选项1 将以上链接下载到本地，并放到项目的static/js目录下，用静态文件方式引入js文件。    -->
    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>




    <!-- 自定义js -->
    {% block js %}{% endblock %}
    <!-- 自定义js结束 -->

</body>
</html>
