<!DOCTYPE html>
<html lang="ZH-CN">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>欢迎使用vmerp</title>



        {% load static %}

        <!-- 装入网站图标 -->
        <link rel="shortcut icon" type="image/jpg" href="{% static 'img/favicon.jpg' %}"/>
        <script src="{% static 'js/sweetalert2.min.js' %}"></script>


    </head>
    <body>

        {% include 'components/sweetalert2_msg.html' %}

        <h1>欢迎使用vmerp</h1>
        <br>
        <span>
            <a href="{% url 'register' %}">注册页面</a>
            <a href="{% url 'login' %}">登录页面</a>
            <a href="{% url 'admin:index' %}">后台管理</a>

        </span>

        <p>vmerp是一个基于Python的Web应用框架，旨在帮助开发者快速开发Web应用。</p>
        <p>vmerp的主要特点有：</p>
        <ul>
            <li>基于Python，易学易用</li>
            <li>支持RESTful API</li>
            <li>支持多种数据库</li>
            <li>支持多种模板引擎</li>
            <li>支持多种缓存技术</li>
            <li>支持多种验证方式</li>
            <li>支持多种日志记录方式</li>
            <li>支持多种插件扩展</li>
        </ul>
        <p>vmerp的开发计划如下：</p>
        <ul>
            <li>完善文档</li>
            <li>完善示例</li>
            <li>完善测试</li>
            <li>发布稳定版本</li>
        </ul>
        <p>欢迎加入vmerp的开发团队，共同打造一个功能强大、易学易用、可扩展的Web应用框架。</p>
    </body>






</html>