#####################################################################
## 本文件是忽略文件规则，有五种写法，可以用记事本编辑，没有文件名，以.gitignore命名
## 1、# 后面是注释,对规则进行说明
## 2、忽略文件夹:  /directory/
## 3、忽略某种类型文件: *.zip
## 4、忽略某个具体文件: /dir/doc.exe
##5、不过滤某些文件，即不忽略：  !readme.txt
#####################################################################
readme.txt
*.php