{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- 面包屑导航： -->
<div class="row mt-2">
    <div class="col-md-12">
        <nav aria-label="breadcrumb"  style="box-shadow: 3px 3px 5px #888888;"  >
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">设置</a></li>
                <li class="breadcrumb-item active" aria-current="page">修改密码</li>
            </ol>
        </nav>
    </div>
</div>
<!-- 面包屑导航结束 -->


{% include 'components/messages.html' %}

<!-- 修改密码表单 -->
<div class="row mt-2">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form action="{% url 'change-password' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="old_password">旧密码</label>
                        <input type="password" class="form-control" id="old_password" name="old_password" placeholder="请输入旧密码" required>
                    </div>
                    <div class="form-group">
                        <label for="new_password">新密码</label>
                        <input type="password" class="form-control" id="new_password" name="new_password" placeholder="请输入新密码" required>
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">确认密码</label>
                        <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="请确认新密码" required>
                    </div>
                    <button type="submit" class="btn btn-primary">修改密码</button>
                    <a href="{% url 'expense' %}" class="btn btn-secondary">返回</a>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}