<!-- 这是忘记密码页面的模板文件 forgot-password.html -->
{% extends 'base_auth.html' %}

{% load static %}

<!-- 引用register.css样式  注册，重置密码，忘记密码三个页面共用 -->
{% block css %}
  <link rel="stylesheet" href="{% static 'css/register.css' %}" />
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <h4 class="card-title text-center py-4">ViusalMood 忘记密码</h4>

      <!-- 引入messages组件，显示错误信息 -->
      {% include 'components/messages.html' %}

      <form method="POST" action="{% url 'forget-password'  %}">
        {% csrf_token %}
        
        <!-- inputZone是自定义的类名，用于控制输入框的样式 -->
        <div class="form-group inputZone">
            <img src="{% static 'img/user.svg' %}" />
            <input id="username" type="text" class="form-control  placeholder="请输入用户名" name="username" value="{{ username }}" autocomplete="off"  />
        </div>

        <div class="form-group inputZone">
            <img src="{% static 'img/mail.svg' %}" />
            <input id="email" type="email" class="form-control  placeholder="请输入邮箱" name="email" value="{{ email }}" autocomplete="off" required />
        </div>


        <div class="text-center py-2">          
            <a href="{% url 'login' %}" class="btn btn-secondary">返回登录</a>
            <button type="submit" class="btn btn-primary">找回密码</button>
        </div>

        <p class="small-font">
          请输入已存在的用户名或邮箱(至少要有一个已存在)。否则报错！！！
        </p>
        <p class="small-font">
          提交申请后，会向邮箱发送重置链接，请在5分钟内点击链接重置密码。
        </p>
      </form>
    </div>
  </div>
{% endblock %}


