<!-- 这是重置密码页面的模板文件 reset-password.html -->
{% extends 'base_auth.html' %}

{% load static %}

<!-- 引用register.css样式 注册，重置密码，忘记密码三个页面共用 -->
{% block css %}
  <link rel="stylesheet" href="{% static 'css/register.css' %}" />
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <h4 class="card-title text-center py-4">用户【{{username}}】重置密码</h4>

      <!-- 引入messages组件，显示错误信息 -->
      {% include 'components/messages.html' %}

      <!-- 表单中 action是提交的地址，这里设置为空，是因为表单提交时，action会自动设置为当前页面的地址，因为url里设置了token验证，所以这里设置为空，防止表单提交时，token验证失败 -->
      <form method="POST" action="">
        {% csrf_token %}

        <div class="form-group inputZone">
            <img src="{% static 'img/lock.svg' %}" />
            <img src="{% static 'img/eye.svg' %}" id="hide-password" />
            <!-- 上面第一个图标提示输入内容,只是一个提示，第二个图标提示隐藏密码，这是动态的，点击图标可以切换密码显示/隐藏，对应js文件在后面引入 -->
            <input id="password" type="password" class="form-control " placeholder="请输入密码" name="password" required />
        </div>

        <div class="form-group inputZone">
            <img src="{% static 'img/lock.svg' %}" />
            <img src="{% static 'img/eye.svg' %}" id="hide-password2" />
            <!-- 上面第一个图标提示输入内容,只是一个提示，第二个图标提示隐藏密码，这是动态的，点击图标可以切换密码显示/隐藏，对应js文件在后面引入 -->
            <input id="confirm_password" type="password" class="form-control " placeholder="请再次输入密码" name="confirm_password" required />
        </div>

        <div class="text-center py-2">
          <button type="submit" class="btn btn-primary">重置密码</button>
        </div>

        <p class="small-font">两次密码输入要一致，且长度至少为6位。</p>
      </form>
    </div>
  </div>
{% endblock %}



<!-- 这是js脚本文件，用于密码的隐藏显示 -->

{% block js %}
  <script>
    // 密码的隐藏显示,这个js代码是从网上找的，原作者是刘旭教授，我只是稍微修改了一下。
    const eyeIcon = document.getElementById('hide-password') // 获取眼睛图标元素  --------getElementById() 方法通过元素的 id 属性值获取元素
    const pwdInput = document.getElementById('password') // 获取密码输入框
    eyeIcon.addEventListener('click', (e) => {
      // 点击眼睛图标时执行函数, --addEventListener() 方法为元素添加事件监听器  (e) => {} 是一个箭头函数，用来处理事件
      let type = pwdInput.getAttribute('type') //   获取密码输入框的type属性   -------- getAttribute() 方法获取元素的属性值
    
      if (type === 'password') {
        //   如果type属性为password，则将type属性改为text
        pwdInput.setAttribute('type', 'text') //   将密码输入框的type属性改为text，使密码可见  --------setAttribute() 方法设置或修改元素的属性
        eyeIcon.setAttribute('src', '/static/img/eye-off.svg') //   将眼睛图标改为关闭状态 将eyeIcon 的src属性改为'/static/img/eye-off.svg'
      } else {
        //   如果type属性为text，则将type属性改为password  使密码用*号占位，不可见
        pwdInput.setAttribute('type', 'password') //   将密码输入框的type属性改为password
        eyeIcon.setAttribute('src', '/static/img/eye.svg') //   将眼睛图标改为打开状态, 将eyeIcon 的src属性改为'/static/img/eye.svg'
      }
    })
    
    // 确认密码的隐藏显示,这个js代码是从网上找的，原作者是刘旭教授，我只是稍微修改了一下。
    const eyeIcon2 = document.getElementById('hide-password2') // 获取眼睛图标元素  --------getElementById() 方法通过元素的 id 属性值获取元素
    const pwdInput2 = document.getElementById('confirm_password') // 获取确认密码输入框
    eyeIcon2.addEventListener('click', (e) => {
      // 点击眼睛图标时执行函数, --addEventListener() 方法为元素添加事件监听器  (e) => {} 是一个箭头函数，用来处理事件
      let type = pwdInput2.getAttribute('type') //   获取密码输入框的type属性   -------- getAttribute() 方法获取元素的属性值
    
      if (type === 'password') {
        //   如果type属性为password，则将type属性改为text
        pwdInput2.setAttribute('type', 'text') //   将密码输入框的type属性改为text，使密码可见  --------setAttribute() 方法设置或修改元素的属性
        eyeIcon2.setAttribute('src', '/static/img/eye-off.svg') //   将眼睛图标改为关闭状态 将eyeIcon 的src属性改为'/static/img/eye-off.svg'
      } else {
        //   如果type属性为text，则将type属性改为password  使密码用*号占位，不可见
        pwdInput2.setAttribute('type', 'password') //   将密码输入框的type属性改为password
        eyeIcon2.setAttribute('src', '/static/img/eye.svg') //   将眼睛图标改为打开状态, 将eyeIcon 的src属性改为'/static/img/eye.svg'
      }
    })
  </script>
{% endblock %}
