<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>首页</span>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if request.path_info == '/expense/' %}active{%endif%}" href="{% url 'expense' %}">
                  支出
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                  收入
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>汇总</span>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if request.path_info == '/expense/expense-summary' %}active{%endif%}" href="{% url 'expense-summary' %}">
                  支出汇总
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                  收入汇总
                </a>
            </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>设置</span>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if request.path_info == '/authentication/change-password' %}active{%endif%}" href="{% url 'change-password' %}">
                  修改密码
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path_info == '/authentication/upload-avatar' %}active{%endif%}" href="">
                    上传头像
                  </a>
            </li>
        </ul>
    </div>
</nav>